// =============================================================================
// Stencil Checkout  - Customize the checkout experience
// =============================================================================
//
// This file is for checkout customizations for Default one-page checkout.
//
// -----------------------------------------------------------------------------


.form-fieldset[data-test="checkout-shipping-comments"] .form-legend.optimizedCheckout-headingSecondary {
	display: none;
}
.form-fieldset[data-test="checkout-shipping-comments"] .form-legend.optimizedCheckout-headingSecondary:before {
	display: block;
	content:"Delivery instructions if you want parcels left somewhere without signature:";}

