<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ resourceHints }}}
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}

        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        {{!-- Resource hints for faster external script loading --}}
        <link rel="dns-prefetch" href="//searchserverapi.com">
        <link rel="dns-prefetch" href="//widget.reviews.co.uk">
        <link rel="dns-prefetch" href="//widget.reviews.io">
        <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
        <link rel="dns-prefetch" href="//code.jquery.com">
        <link rel="preconnect" href="https://d1azc1qln24ryf.cloudfront.net" crossorigin>

        <script>
            {{!-- Change document class from no-js to js so we can detect this in css --}}
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        </script>

        {{> components/common/polyfill-script }}

        {{!-- Load Lazysizes script ASAP so images will appear --}}
        <script>
            {{!-- Only load visible elements until the onload event fires, after which preload nearby elements. --}}
            window.lazySizesConfig = window.lazySizesConfig || {};
            window.lazySizesConfig.loadMode = 1;
        </script>
        <script async src="{{cdn 'assets/dist/theme-bundle.head_async.js'}}"></script>

        {{ getFontsCollection }}
        {{{stylesheet '/assets/css/theme.css'}}}
        
        {{{head.scripts}}}

        {{~inject 'showAdminBar' theme_settings.show-admin-bar}}
        {{~inject 'genericError' (lang 'common.generic_error')}}
        {{~inject 'maintenanceModeSettings' settings.maintenance}}
        {{~inject 'adminBarLanguage' (langJson 'admin')}}
        {{~inject 'urls' urls}}
        {{~inject 'secureBaseUrl' settings.secure_base_url}}
        {{~inject 'cartId' cart_id}}
        {{~inject 'channelId' settings.channel_id}}
        {{~inject 'template' template}}

        <script src="//searchserverapi.com/widgets/bigcommerce/init.js?api_key=5U6E5F5m3h" defer></script>

    </head>
    
    



    <body>
        <svg data-src="{{cdn 'img/icon-sprite.svg'}}" class="icons-svg-sprite"></svg>

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>
        <script>
            {{!-- Exported in app.js --}}
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
        </script>
        
        {{{footer.scripts}}}
        
        <div id="shippingMsg" class="modal modal--medium" data-reveal>
            <div class="modal-header">
                <h2 class="modal-header-title">Shipping Information</h2>
                <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
                    <span aria-hidden="true">&#215;</span>
                </a>
            </div>
            <div class="modal-body">
         <p>All prices are calculated at checkout and vary based on destination postcode and weight.</p>
<p>Note when getting shipping estimates under view cart, the post code and suburb name must BOTH match exactly. Errors will display if not exact.</p>
<p>Spend $99 on products and get $6.95 discount applied in cart. Spend $300+ on products and get an additional $6.95 discount applied in cart.</p>
            </div>
        </div>
    </body>
</html>
