<article class="blog">
    <div class="blog-post-figure">
        {{#if post.thumbnail}}
            <figure class="blog-thumbnail">
                <a href="{{post.url}}">
                    {{> components/common/responsive-img
                        image=post.thumbnail
                        fallback_size=theme_settings.blog_size
                        lazyload=theme_settings.lazyload_mode
                    }}
                </a>
            </figure>
        {{/if}}
    </div>

    <div class="blog-post-body">
        <header class="blog-header">
            <h2 class="blog-title">
                <a href="{{post.url}}">{{post.title}}</a>
            </h2>
            <p class="blog-date">{{#if post.author}}{{lang 'blog.posted_by' name=post.author}} on {{/if}}{{post.date_published}}</p>
        </header>

        <div class="blog-post">
            {{#if post.body}}
                {{{post.body}}}
            {{else}}
                {{{post.summary}}}
                {{#if post.show_read_more}}
                    &hellip; <a href="{{url}}">{{lang 'blog.read_more'}}</a>
                {{/if}}
            {{/if}}
        </div>


        {{#if show_tags}}
            {{#if post.tags}}
                <ul class="tags">
                    {{#each post.tags}}
                    <li class="tag">
                        <a href="{{url}}">#{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/if}}

        {{>components/common/share}}

    </div>
</article>



<style>
    
  .blog-post-figure {
    width: 100%;
}
.blog-post-body {
    width: 100%;
}
    .accordion {
  margin: 0;
  color: #444;
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  border-bottom: 1px solid #f2f5f8;
}


.panel {
 padding: 18px 0 0 0;
  background-color: white;
  display: none;
  overflow: hidden;
}
    
    .blog-title {
    font-size: 40px;
   
    font-weight: bold;
}
.blog-post p
{
    font-size: 18px;
}
</style>


<script>
    var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
  
    this.classList.toggle("active");

   
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
} 
</script>


