{{#if category.products}}
    {{> components/products/filter sort=pagination.category.sort}}

    <form action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Category: {{category.name}}" {{/if}} data-product-compare>
        {{#if theme_settings.product_list_display_mode '===' 'grid'}}
            {{#if settings.data_tag_enabled}}
                {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
            {{else}}
                {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
            {{/if}}
        {{else}}
            {{#if settings.data_tag_enabled}}
                {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
            {{else}}
                {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
            {{/if}}
        {{/if}}
        <div id="ProductloadingStatus" class="page-load-status">
            <div class="infinite-scroll-request">
                <img src="{{cdn 'img/loading.svg'}}" alt="Loading" />
            </div>
        </div>
    </form>
	<div id="more">
    {{> components/common/paginator pagination.category}}
    </div>
    {{!-- jQuery is already bundled in theme-bundle.main.js --}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/3.0.2/infinite-scroll.pkgd.min.js" defer></script>
	<script type="text/javascript">
    // Only initialize infinite scroll on category pages with pagination
    if ($('#more .pagination-item--next').length > 0 && $('.productGrid').length > 0 && !$('body').hasClass('page-type-cart')) {
        $('.productGrid').infiniteScroll({
            path: '#more .pagination-item--next > a',
            append: '.product',
            history: false,
            status: '#ProductloadingStatus'
        });
    }
    </script>
    
{{else}}
    <p>{{lang 'categories.no_products'}}</p>
{{/if}}
